h1{
    font-size: 28px;
    color:goldenrod;
    font-family: 'Yomogi', cursive;
}

h2{
    font-size: 25px;
    color: crimson;
    font-family: 'Uchen', serif;

}

h3{
    font-size: 20px;
    color:goldenrod;
}

li{
    list-style-position:inside ;
}

img{
    height: 250px;
}

p{
    font-family: 'Rajdhani', sans-serif;
}

.text-products{
    font-size: 17px;
    color:orange ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    background-color:#EEEEEE;
}
